// colors
// ------------------------------
$primary: #5eb5a5;
$link: #4588c5;
$success: #b0be3d;
$info: #868cb7;
$warning: #eda629;
$danger: #ea2b00;

$link-focus-border: $link;
$text: #555 !default;
$grey-darker: #555;

// shadows
// ------------------------------
$box-shadow: 0 2px 3px rgba(#000, 0.08), 0 0 0 1px rgba(#000, 0.08);
$card-shadow: 0 1px 2px rgba(#000, 0.08), 0 0 0 1px rgba(#000, 0.08);
