---
import SpotList from '@/components/views/spot/SpotList.astro'
import Layout from '@/layouts/Layout.astro'

const meta = {
  title: 'DemoSite',
}
---

<Layout meta={meta}>
  <main>
    <div class='container py-6'>
      <SpotList />
    </div>
  </main>
</Layout>
